<div class="container">
    <header class="main">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">{{title}}</a>
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="row">
            <div class="col-md-6">
                <!-- Opened tasks list -->
                <section class="panel panel-default" *ngIf="getUnCompletedTasks().length">
                    <div class="panel-heading">Opened tasks</div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let task of getUnCompletedTasks()">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ task.id }}">
                                            <!-- Task priority -->
                                            <span class="badge">{{ task.priority }}</span>
                                            <!-- Task title -->
                                            {{ task.title }}
                                            <!-- Close task -->
                                            <button class="btn btn-xs btn-success pull-right" (click)="completeTask(task)">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ task.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        {{ task.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Uncompleted tasks list -->
            </div>
            <div class="col-md-6">
            <!-- Completed tasks list -->
                <section class="panel panel-default" *ngIf="getCompletedTasks().length">
                    <div class="panel-heading">Completed tasks</div>
                    <div class="panel-body">
                        <ul class="list-group" *ngFor="let task of getCompletedTasks()">
                            <li class="list-group-item">
                            <!-- Task title -->
                                <del>{{ task.title }}</del>
                                <button class="btn btn-xs btn-danger pull-right" (click)="openTask(task)">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </section>
            <!-- /Completed tasks list -->
            </div>
            <div class="col-md-12">
            <!-- Add a task -->
                <section class="panel panel-default">
                    <div class="panel-heading">Add a task</div>
                    <div class="panel-body">
                        <form (ngSubmit)="addTask(); addTaskForm.reset()" #addTaskForm="ngForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group" [ngClass]="{ 'has-error': !(title.valid || title.pristine) }">
                                        <label for="task-title" class="control-label">Title</label>
                                        <input type="text" id="task-title" class="form-control" tabindex="1" required
                                               name="taskTitle" [(ngModel)]="taskTitle" #title="ngModel">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group" [ngClass]="{ 'has-error': !(priority.valid || priority.pristine) }">
                                        <label for="task-priority" class="control-label">Priority</label>
                                        <input type="number" id="task-priority" class="form-control" required
                                               min="1" max="10" value="1" tabindex="2"
                                               name="taskPriority" [(ngModel)]="taskPriority" #priority="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="task-description" class="control-label">Description</label>
                                <textarea id="task-description" class="form-control"
                                          cols="30" rows="10" tabindex="3"
                                          name="taskDescription" [(ngModel)]="taskDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success pull-right" tabindex="4">Add</button>
                            </div>
                        </form>
                    </div>
                </section>
            <!-- /Add a task -->
            </div>
        </div>
    </main>
</div>