<div class="container">
    <header class="main">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">{{title}}</a>
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="row">
            <div class="col-md-6">
            <!-- Task list -->
                <section class="panel panel-default">
                    <div class="panel-heading">Tasks</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item active">
                            <!-- Task title -->
                                Learn Angular 2
                            <!-- Task priority -->
                                <span class="badge">10</span>
                            </li>
                            <li class="list-group-item">
                                Create application
                                <span class="badge">9</span>
                            </li>
                        </ul>
                    </div>
                </section>
            <!-- /Task list -->
            </div>
        </div>
    </main>
</div>