<div class="container">
    <header class="main">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">{{title}}</a>
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="row">
            <div class="col-md-6">
                <!-- Uncompleted tasks list -->
                <section class="panel panel-default" *ngIf="getUnCompletedTasks().length">
                    <div class="panel-heading">Uncompleted tasks</div>
                    <div class="panel-body">
                        <ul class="list-group" *ngFor="let task of getUnCompletedTasks()">
                            <li class="list-group-item active">
                                <!-- Task title -->
                                {{ task.title }}
                                <!-- Task priority -->
                                <span class="badge">{{ task.priority   }}</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- /Uncompleted tasks list -->
            </div>
            <div class="col-md-6">
            <!-- Completed tasks list -->
                <section class="panel panel-default" *ngIf="getCompletedTasks().length">
                    <div class="panel-heading">Completed tasks</div>
                    <div class="panel-body">
                        <ul class="list-group" *ngFor="let task of getCompletedTasks()">
                            <li class="list-group-item">
                            <!-- Task title -->
                                <del>{{ task.title }}</del>
                            </li>
                        </ul>
                    </div>
                </section>
            <!-- /Completed tasks list -->
            </div>
        </div>
    </main>
</div>